#metadata((
  type: "${type}",
  label: "${label}",
  letter: "${letter}",
  author: "${author}",
  content: "${content}",
  time: "${time}",
  status: "${status}",
  discussion: ${discussion},
)) <note-${label}>
