#metadata((
  type: "${type}",
  uuid: "${uuid}",
  scope: "${scope}",
  color: "${color}",
  letter: "${letter}",
  author: "${author}",
  content: "${content}",
  time: "${time}",
  status: "${status}",
  discussion: ${discussion},
)) <anno.${uuid}>
