#metadata((
  type: "${type}",
  uuid: "${uuid}",
  scope: "${scope}",
  color: "${color}",
  letter: "${letter}",
  author: "${author}",
  content: "${content}",
  time: "${time}",
  mtime: "${mtime}",
  claimed: ${claimed},
  resolved: ${resolved},
  captures: ${captures},
  discussion: ${discussion},
)) <anno.${uuid}>
